.row
  .small-4.small-centered.columns
    = form_tag sessions_path do
      %fieldset
        %legend Login
        .row
          .small-6.columns
            = label_tag :username
          .small-6.columns
            = text_field_tag :username
        .row
          .small-6.columns
            = label_tag :password
          .small-6.columns
            = password_field_tag :password
        .row
          .small-12.columns
            = submit_tag 'Login', class: 'button success small radius right'
            / %a.button.success.small.radius.right Login