.row
  .small-12.columns
    %h2 #{fa_icon 'users'} My Groups 
    %hr
    .row
      .small-6.columns
        = link_to 'New Group', new_group_path, class: 'button success radius small'
      .small-3.columns
      .small-3.columns
        = text_field_tag :search, 'search', class: 'radius'
    %table{width: '100%'}
      %thead
        %tr
          %th Name
          %th Number of Units
          %th Last Updated
          %th Measures
          %th Actions
        %tbody
          - @groups.each do |group|
            %tr
              %td= group.name
              %td
                %span.has_tip.radius{ title: "#{group.items.map { |i| i.name}.join("<br>".html_safe)}", data: { :tooltip => group.id }}= group.items.count
              %td= group.updated_at
              %td 
                / %span.has_tip.radius{ title: "has book | midterm grade | presence", data: { :tooltip => 1}} 3 assigned
              %td
                =  link_to "View", group_path(group)
                |
                =  link_to "Edit", edit_group_path(group)
                |
                =  link_to "Delete", group_path(group),  method: :delete, data: { confirm: 'Are you sure?' }
            