.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} MeasureApp
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    - if logged_in?
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li.has-dropdown
            %a{href: '#'} #{fa_icon 'user'}&nbsp;&nbsp;#{@current_user.full_name}
            %ul.dropdown
              %li
                %a{href: '#'} #{fa_icon 'cogs'}&nbsp;&nbsp;Settings
                / %a{href: '#'} #{fa_icon 'sign-out'}&nbsp;&nbsp;Log Out
                = link_to logout_path, method: :delete do
                  #{fa_icon 'sign-out'}&nbsp;&nbsp;Log Out
        /   %li.has-dropdown
        /     %a{href: "#"} Right Button Dropdown
        /     %ul.dropdown
        /       %li
        /         %a{href: "#"} First link in dropdown
        / Left Nav Section
        %ul.left
          %li
            =link_to "My Groups", groups_path
          %li
            =link_to "My Items", items_path
          %li
            =link_to "My Measures", measures_path
          %li
            %a{href: "#"} Reports
