= form_for @item do |f|
      
  .row
    .small-5.columns
      .small-3.columns
        = f.label :name, 'Name', class: 'left inline'
      .small-9.columns
        = f.text_field :name, class: 'radius'
  
  .row
    .small-5.columns
      .small-3.columns
        = f.label :description, 'Description', class: 'left inline'
      .small-9.columns
        = f.text_area :description, rows: '5', class: 'radius'

  .row
    .small-5.columns
      .small-3.columns
        = f.label :items, 'Groups', class: 'left inline'
      .small-9.columns
        = f.select :group_ids, options_for_select( @groups.collect { |p| [ p['name'], p['id'] ]}), {}, { multiple: true, id: 'transfer_select', class: 'searchable'}
  .row
    .small-6.columns
      = f.submit "Save", class: 'button success small radius right'