.row
  .small-12.columns
    %h2 #{fa_icon 'sort-amount-desc'} Measures
    %hr
    .row
      .small-6.columns
        =link_to "Create Measure", new_measure_path, class: 'button small success dropdown radius' 
        / %a{ href: '#', class: 'button small success dropdown radius', data: {dropdown: 'actions'}} Create Measure
        / %ul{ id: 'actions', class: 'f-dropdown'}
        /   %li #{fa_icon 'plus'} Boolean
        /   %li #{fa_icon 'plus'} Scale
        / = submit_tag 'New Unit', class: 'button success radius small'
      .small-3.columns
      .small-3.columns
        = text_field_tag :search, 'search', class: 'radius'

    %table{width: '100%'}
      %thead
        %tr
          %th Name
          %th Type
          %th Linked to
          %th Actions
        %tbody
          -@measures.each do |measure|
            %tr
              %td= measure.name
              %td= measure.type
              %td
                %span.label.secondary.round Groups Placeholder
                %span.label.secondary.round Groups Placeholder
              %td
                =  link_to "View"
                |
                =  link_to "Edit"
                |
                =  link_to "Delete"
            

